

<div class="comment-search">
    <div class="comment-search-inner">
        <div class="header">
            <span class="title">Comment Search</span>
            <mat-icon>close</mat-icon>
        </div>
        <div class="search-wrapper">
            <div class="search">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Comments containings..."/>
              </div>
              <div class="filter-marker-type">
                <div class="filter-heading">
                    <h3>Filter marker types</h3>
                    <small>Toggling a marker type will hide/show markers of that type</small>
                </div>
                <div>
                    <ul>
                        <li>This work</li>
                        <li>This doesn't work</li>
                        <li>Area for improvement</li>
                        <li>Area for concern</li>
                    </ul>
                </div>
              </div>
        </div>
    </div>
</div>
