<nav>
    <div>Toronto</div>
    <div><button mat-raised-button color="primary">Closed for Comment</button></div>
    <div class="nav-icon">
      <mat-icon>share</mat-icon>
      <mat-icon>search</mat-icon>
      <mat-icon>filter_alt</mat-icon>
    </div>
  </nav>
  <div class="under-nav-section">
    <div class="content">
       <div><mat-icon>location_searching</mat-icon></div>
       <div class="search">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Enter an address..."/>
      </div>
    </div>
  </div>

