.plan-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.form-design{
    display: flex;
    gap: 20px;
    align-items: center;
}