<div>
    <div class="plan-wrapper">
        <h1>Plans</h1>
        <div class="form-design">
            <label>No of projects</label>
            <div>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
        </div>
        <div class="form-design">
            <label>Maximum Area</label>
            <div>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
        </div>
        <div>
            <button mat-raised-button color="primary">Submit</button>
        </div>

    </div>
    <app-table></app-table>
</div>

