<nav class="left-side-nav">
    <div class="left-side-nav-content">
        <div class="left-side-nav-menu">
            <div class="left-side-nav-button">
                <mat-icon>chat</mat-icon>
                <small>Activity</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>info</mat-icon>
                <small>Instruction</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>description</mat-icon>
                <small>Activity</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>help</mat-icon>
                <small>Terms and conditions</small>
            </div>
        </div>
        <div>
            <small>socialpinpoint</small>
        </div>
    </div>
</nav>
<div class="left-side-panel" #leftPanel>
    <div>
        <div class="left-side-panel__header">
            <div class="title">About</div>
            <mat-icon  (click)="closePanel()">close</mat-icon>
        </div>
        <div class="left-side-panel__content">
            <p>
                In 2009, City Council adopted the Western Waterfront Master Plan, establishing an overarching vision for the Western Beaches and providing a guide for future upgrades to the public realm, including parks, trails, and roads. The Western Beaches includes, from west to east, Sir Casimir Gzowski Park, Sunnyside Park, Budapest Park, the Lake Shore Boulevard Parklands, and Marilyn Bell Park. 

A lot has changed over the past fifteen years or so since the Master Plan was adopted. In order to better understand and meet emerging needs and reevaluate priorities, the Plan is undergoing a refresh. This Social Pinpoint interactive mapping tool is an opportunity for you to share your feedback about the experience visiting and/or travelling through the Western Beaches.

Visit the Western Beaches project webpage to learn more.
            </p>
            <p>
                In 2009, City Council adopted the Western Waterfront Master Plan, establishing an overarching vision for the Western Beaches and providing a guide for future upgrades to the public realm, including parks, trails, and roads. The Western Beaches includes, from west to east, Sir Casimir Gzowski Park, Sunnyside Park, Budapest Park, the Lake Shore Boulevard Parklands, and Marilyn Bell Park. 

A lot has changed over the past fifteen years or so since the Master Plan was adopted. In order to better understand and meet emerging needs and reevaluate priorities, the Plan is undergoing a refresh. This Social Pinpoint interactive mapping tool is an opportunity for you to share your feedback about the experience visiting and/or travelling through the Western Beaches.

Visit the Western Beaches project webpage to learn more.
            </p>
            <p>
                In 2009, City Council adopted the Western Waterfront Master Plan, establishing an overarching vision for the Western Beaches and providing a guide for future upgrades to the public realm, including parks, trails, and roads. The Western Beaches includes, from west to east, Sir Casimir Gzowski Park, Sunnyside Park, Budapest Park, the Lake Shore Boulevard Parklands, and Marilyn Bell Park. 

A lot has changed over the past fifteen years or so since the Master Plan was adopted. In order to better understand and meet emerging needs and reevaluate priorities, the Plan is undergoing a refresh. This Social Pinpoint interactive mapping tool is an opportunity for you to share your feedback about the experience visiting and/or travelling through the Western Beaches.

Visit the Western Beaches project webpage to learn more.
            </p>
        </div>
    </div>
</div>