<nav class="left-side-nav">
    <div class="left-side-nav-content">
        <div class="left-side-nav-menu">
            <div class="left-side-nav-button">
                <mat-icon>chat</mat-icon>
                <small>Activity</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>info</mat-icon>
                <small>Instruction</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>description</mat-icon>
                <small>Activity</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>help</mat-icon>
                <small>Terms and conditions</small>
            </div>
        </div>
        <div>
            <small>socialpinpoint</small>
        </div>
    </div>
</nav>