<nav class="left-side-nav">
    <div class="left-side-nav-content">
        <div class="left-side-nav-menu">
            <div class="left-side-nav-button">
                <mat-icon>chat</mat-icon>
                <small>Activity</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>info</mat-icon>
                <small>instruction</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>description</mat-icon>
                <small>Activity</small>
            </div>
            <div class="left-side-nav-button">
                <mat-icon>help</mat-icon>
                <small>Terms and conditions</small>
            </div>
        </div>
        <!-- <div>
           <span class="material-symbols-outlined">

</span>
            <ul>
                <li>instruction</li>
                <li>Activity</li>
                <li>Terms and conditions</li>
                <li>About</li>
            </ul>
        </div> -->
        <div>logo</div>
    </div>
</nav>