<p>
    By contributing to this public engagement exercise, you agree to abide by our user guidelines:

Be Kind and Courteous
Respect each other. We're here to work together to build something great.
Keep your comments focused and on topic.
Avoid the use of profanity. Keep it civil.
If you must, criticise ideas rather than individuals.
Do not name City of Toronto staff.
Protect Everyone's Privacy
Protect your privacy. Do not include self-identifying information in your submissions; no phone numbers, no email addresses, no physical addresses, no social media accounts.
Do not post personal or private information of others; no doxxing.
Do not post links to external sites.
No Hate Speech or Inappropriate Content
Do not post comments that are hateful, racist, sexist, defamatory or abusive.
Content of a sexual or pornographic nature is not permitted.
Insulting, bullying, or harassing content will not be tolerated.
Submissions which violate these guidelines will not be shared publicly during this exercise.
</p>