<div>
    <p>
        The study area is highlighted on the map.
Drop pins on the map to let us know what's working and not working, areas for improvement, and areas for concern. Share your thoughts, upload a photo, or tell us about your visit! 
Click or tap the pins on the map to read your neighbours' thoughts. 
Change the basemap to an aerial photo by clicking or tapping the  icon at the top-right of the screen and selecting Google Maps - Hybrid.
If you require assistance or accommodation in order to participate, please contact 416-392-6638.
    </p>
</div>